name: Show proposed changes
on:
    pull_request:
jobs:
    update:
        permissions:
            contents: write
        runs-on:
            - ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v4
              with:
                cache: 'npm'
                node-version: '22'
            - run: npm ci
            - run: npm run update
            - run: |
                # configure user
                git config --global user.name "${{ github.actor }}"
                git config --global user.email "${{ github.actor }}@users.noreply.github.com"
            
                # stage any file changes to be committed
                git add .
            
                git diff --cached
